.layout {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
    padding-top: env(safe-area-inset-top);
    padding-bottom: env(safe-area-inset-bottom);
    background: var(--bg);
}

.main {
    flex: 1;
    position: relative;
    overflow: hidden;
}
